* {
		font-family: sans-serif;
}

a {
	text-decoration:none;
}

body {
	width : 100%;
	height:100px;
	background-color: white;
	overflow: hidden;
}

#convert_start {
	width:120px;
	height:20px;
	position:absolute;
	top:25px;
	left:5px;
	overflow-y: hidden;
	cursor:pointer;
}

#copy {
	width:200px;
	height:20px;
	position:absolute;
	top:25px;
	left:70px;
}

#en_text {
	position: fixed;
	width: 270px;
	left: 5px;
	bottom: 5px;
}

#get_weather_template {
	width:50px;
	height:20px;
	position:absolute;
	top:25px;
	left:70px;
	cursor:pointer;
}

#get_population_template {
	width:50px;
	height:20px;
	position:absolute;
	top:25px;
	left:130px;
	cursor:pointer;
}

#result {
	height:70px;
	width: calc(100% - 260px);
	position:fixed;
	bottom:5px;
	left:250px;
	overflow-y: scroll;
}

#convert_box {
	width:250px;
	height:20px;
	position:absolute;
	top:5px;
	left:5px;
}
