* {
		font-family: sans-serif;
}

a {
	text-decoration:none;
}

body {
	width : 300px;
	min-height:250px;
	background-color: white;
}

#convert_start {
	width:120px;
	height:20px;
	position:absolute;
	top:25px;
	left:5px;
	overflow-y: hidden;
	cursor:pointer;
}

#copy {
	width:300px;
	height:20px;
	position:absolute;
	top:25px;
	left:70px;
}

#en_text {
	position: fixed;
	width: 270px;
	left: 5px;
	bottom: 5px;
}

#get_weather_template {
	width:50px;
	height:20px;
	position:absolute;
	top:25px;
	left:70px;
	cursor:pointer;
}

#get_population_template {
	width:50px;
	height:20px;
	position:absolute;
	top:25px;
	left:130px;
	cursor:pointer;
}

#result {
	width:300px;
	height:230px;
	position:absolute;
	top:50px;
	left:0px;
	overflow-y: scroll;
}

#convert_box {
	width:300px;
	height:20px;
	position:absolute;
	top:5px;
	left:5px;
}
